@media (max-width: 1000px) {
    body {
        margin: 0px;
        overflow: hidden;
        font-size: 1.5vh;
    }

    .ui-button {
        font-size: 1em;
    }

    .ui-check {
        scale: 2;
    }

    .ui-input {
        font-size: 1em;
    }

    #bail-button {
        font-size: 1.5em;
        width: 7em;
        padding: 0.5em;
        position: relative;
        bottom: 3em;
        border-radius: 0.6em;
        background: orange;
        border: solid 0.1em black;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.19);
    }

    #bail-button-container {
        height: 0px;
    }
    
    #main {
        display: grid;
        grid-template-rows: minmax(1px, auto) 5em 5em 1fr;
        height: 100vh;
    }

    #main-canvas {
        width: 100%;
        border: solid 0.1em black;
    }
    
    #left-column {
        grid-row: 1;
        text-align: center;
        width: 100vw;
        background: #ffffaa;
    }

    #interaction-select-container {
        display: flex;
        position: fixed;
    }

    .interaction-select-button {
        font-size: 1em;
        margin: 0.2em;
    }
    
    #result-column {
        grid-row: 2;
        width: 100vw;
        justify-items: right;
    }

    #result-header {
        width: 100%;
    }

    #your-column {
        grid-row: 3;
        width: 100vw;
        justify-items: right;
    }

    #your-header {
        width: 100%;
    }

    #footer {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        grid-row: 4;
    }

    #result-list {
        display: flex;
        justify-content: right;
        width: fit-content;
    }

    #your-list {
        display: flex;
        justify-content: right;
        width: fit-content;
    }

    #entry-fee {
        width: 4em;
    }
    
    .result-entry {
        background: lightgrey;
        border: solid #111 0.1em;
        margin: 0.1em;
        width: 3.5em;
        height: 2.5em;
        text-align: center;
        font-weight: bold;
        border-radius: 0.8em;
        line-height: 1em;
        align-content: center;
    }
    
    #player-money {
        margin-left: 4em;
        font-size: 1.2em;
        border: solid black 0.2px;
        width: 9em;
        display: inline-block;
        text-align: center;
        background: #ded;
    }
}

@media (min-width: 1000px) {
    body {
        margin: 0px;
        overflow: hidden;
    }
    
    #main {
        display: grid;
        grid-template-columns: 1fr 150px 150px;
        grid-template-rows: minmax(1px, auto) 1fr;
        height: 100vh;
        width: 0px;
    }

    #main-canvas {
        height: 100%;
    }
    
    #left-column {
        grid-row: 1;
    }

    #interaction-select-container {
        display: flex;
        position: fixed;
    }

    .interaction-select-button {
        height: 20px;
        margin: 3px;
    }

    #bail-button {
        font-size: 1.5em;
        padding: 0.5em;
        position: relative;
        bottom: 3em;
        border-radius: 0.6em;
        background: orange;
        border: solid 0.1em black;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.19);
    }

    #bail-button-container {
        height: 0px;
        text-align: center;
    }

    #entry-fee {
        width: 60px;
    }
    
    #result-column {
        grid-row: 1;
        justify-items: center;
    }

    #your-column {
        grid-row: 1;
        justify-items: center;
    }

    #chances {
        grid-row: 1;
        width: 200px;
    }

    #footer {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        grid-column: 1;
        grid-row: 2
    }
    
    .result-entry {
        background: lightgrey;
        border: solid #111 2px;
        margin: 2px;
        width: 100px;
        height: 19px;
        text-align: center;
        font-weight: bold;
        font-size: 0.8em;
        border-radius: 10px;
        line-height: 19px;
        text-wrap-mode: nowrap;
    }
    
    #player-money {
        margin-left: 100px;
        font-size: 20px;
        border: solid black 1px;
        width: 170px;
        display: inline-block;
        text-align: center;
        background: #ded;
    }
}
